
  <!-- <img src="assets/cv.jpeg" width="1600" alt=""> -->
<section>
  <aside class="col__left">
    <img src="assets/me.jpeg" alt="me">
    <article>
      <div class="inner">
        <h3>A Propos</h3>
        <ul>
          <li>+336 61 57 56 00</li>
          <li>+336 61 57 56 00</li>
          <li>+336 61 57 56 00</li>
        </ul>
      </div>
    </article>
    <article>
      <div class="inner">
        <h3>Langages</h3>
        <ul>
          <li>Français  Natif</li>
          <li>Anglais   B2</li>
        </ul>
      </div>
    </article>
  </aside>
  <main class="col__right">
    <header>
      <h1>Geoffrey Plichard</h1>
      <p>Développeur Front-End avec 7 ans d'expérience en développement de sites internet, applications web et applications mobile</p>
    </header>
  </main>
</section>
