section {
  display: flex;

  aside {
    width: 35%;
    background-color: var(--color-bg-left);

    img {
      width: 100%;
    }

    
    article {
      &:first-child {
        background-image: url('/assets/me.jpeg');
        height: 350px;
        background-size: cover;
      }

      &:nth-child(2) {
        background-color: var(--color-bg-left3);

        li {
          margin-bottom: 20px;
        }
      }

      .inner {
        padding: 20px;
      }

      h3 {
        color: var(--color-title-left);
        text-transform: uppercase;
        margin: 0;
      }

      ul {
        padding: 0;
        list-style-type: none;
        li {
          color: var(--color-text-left);
          display: flex;
          flex-direction: column;

          span {
            display: inline-block;
          }
        }
      }
    }
  }

  main {
    width: 65%;
    padding: 40px;

    header {
      color: var(--color-title);

      h1 {
        font-size: 40px;
        margin: 0;
        letter-spacing: 5px;
      }

      p {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: italic;
        font-size: 25px;
        letter-spacing: 3px;
      }
    }
  }

}
