.page-1,
.page-2 {
  display: flex;

  main {
    width: 65%;
    padding: 40px;
    > header {
      color: var(--color-title);

      h1 {
        font-size: 40px;
        margin: 0;
        letter-spacing: 5px;
      }

      p {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: italic;
        font-size: 25px;
        letter-spacing: 3px;
      }
    }

    .main-section {
      margin-top: 50px;

      h2 {
        text-transform: uppercase;
        font-size: 25px;
        color: #333;
      }
      article {
        header {
          display: flex;
          flex-direction: column;

          span {
            &:first-child {
              font-weight: bold;
            }

            &:last-child {
              margin-bottom: 5px;
            }
          }
        }
      }

      ul {
        li {
          margin-bottom: 5px;
        }
      }
    }
  }
}

.page-1 {
  aside {
    width: 35%;
    background-color: var(--color-bg-left);
    img {
      width: 100%;
    }
    
    article {
      .inner {
        padding: 20px;
      }

      h3 {
        color: var(--color-title-left);
        text-transform: uppercase;
        margin: 0;
      }

      h4 {
        margin: 10px 0px;
      }

      ul {
        padding: 0;
        list-style-type: none;
        li {
          color: var(--color-text-left);
          display: flex;
          flex-direction: column;
          font-size: 16px;
          margin: 5px 0px;

          span {
            display: inline-block;
          }
        }
      }

      &:first-child {
        background-image: url('/assets/me.jpeg');
        height: 350px;
        background-size: cover;
      }

      &:nth-child(2) {
        background-color: var(--color-bg-left3);

        ul li {
          margin-bottom: 20px;
        }
      }
    }
  }
}

.page-2 {
  aside {
    width: 20%;
    background-color: var(--color-bg-left);
  }
}
