
  <!-- <img src="assets/cv.jpeg" width="1600" alt=""> -->
<section>
  <aside class="col__left">
    <article>
    </article>
    <article>
      <div class="inner">
        <h3>A Propos</h3>
        <ul>
          <li>
            <span>+336 61 57 56 00</span>
            <span>geoffreyplichard&#64;gmail.com</span>
          </li>
          <li>
            <span>74930, Reignier-Esery</span>
            <span>France</span>
          </li>
          <li>
            <span>linkedin.com/in/geoffreyplichard</span>
            <span>github.com/GeoffreyPlichard</span>
          </li>
        </ul>
      </div>
    </article>
    <article>
      <div class="inner">
        <h3>Langages</h3>
        <ul>
          <li>Français  Natif</li>
          <li>Anglais   B2</li>
        </ul>
      </div>
    </article>
  </aside>
  <main>
    <header>
      <h1>Geoffrey Plichard</h1>
      <p>Développeur Front-End avec 7 ans d'expérience en développement de sites internet, applications web et applications mobile</p>
    </header>
  </main>
</section>
